*{
    padding: 0%;
    margin: 0%;
}
body{
    display: flex;
    background-image: url("backg.png");
    background-size: cover;
}
.column{
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
}
.subhed{
    padding-top: 35px;
    margin-left: 30px;
}
.nav{
    width: 100%;
    text-align: right;
    justify-content: flex-end;
}
.nav a{
    font-size: 25px;
    padding: 14px 16px;
    text-align: center;
    color: black;
    text-decoration: none;
}
.column h1{
     text-align: left;
     color: black;
     font-size: 100px;
     line-height: 1px;
     padding-top: 50px;
}
.about{
    color: black;
    padding-top: 20px;
    font-size: 50px;
}
.pera{
    font-size: 25px;
    color: black;
}
.button{
    background-color: rgb(245, 135, 9);
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}
input[type=text]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border-radius: 20px;
}